

        <div class="card card-container" >

                <div class="welcome text-aling-center">
                        <img src="assets/images/logo-temp.jpg" alt=""   />
                       <br/>
                        <span  style="font-size: 2em;"><b>Recover your account</b></span>
                    </div>
            <app-alert></app-alert>

            <form class="form-signin" id="login-form" (submit)="validateData()"    method="POST" style="margin-top: 10%;">

                    <div class="form-group">
                            <label for="inputEmail" class="text-info">Email:</label><br>
                            <input [(ngModel)]="email" type="email" name="inputEmail" id="inputEmail" class="form-control"><br>
                        </div>


                    <a  routerLink="/login"  style="float: left; cursor:pointer; color:#007bff">
                           <i class="fas fa-long-arrow-alt-left"></i> Back
                    </a>

                                <button mat-button color="primary"  (click)="sendEmail()"  style="float: right;">
                                        Recover
                                     </button>

                   <br>
            </form>
        </div><!-- /card-container -->
