<div class="form-group">
    <label for="inputPassword" class="text-info">New Password:</label><br>
    <input [(ngModel)]="password" type="password" name="inputPassword" id="inputPassword" class="form-control">
</div>

<div class="form-group">
  <label for="inputAuxiliarPassword" class="text-info">Repeat New Password:</label><br>
  <input [(ngModel)]="auxiliarPassword" type="password" name="inputAuxiliarPassword" id="inputAuxiliarPassword" class="form-control"><br>
</div>

<input type="submit" name="submit" class="btn btn-info btn-md" (click)="updatePassword()" value="Send">
