<div class="btn-group">
    <a type="button" class="btn btn-light " linkRoute="/bedroom" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="true">
        BEDROOM COM
    </a>
    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu dropdown-menu-center container" style="width:70vw;">

        <div class="row">

            <div class="col-md-3">

                <figure class="d-flex flex-row justify-content-center align-items-center">
                    <a href="" class="p-2">
                        <img src="../../../assets/images/bed_5.png" alt="Bed">
                    </a>
                </figure>

            </div>

            <div class="col-md-3">

                <figure class="d-flex flex-row justify-content-center align-items-center">
                    <a href="">
                        <img src="../../../assets/images/bedframe_2.png" alt="Bed">
                    </a>
                </figure>

            </div>

            <div class="col-md-3">

                <figure class="d-flex flex-row justify-content-center align-items-center">
                    <a href="">
                        <img src="../../../assets/images/bedroom-mediachest_1.png" alt="Bed">
                    </a>
                </figure>

            </div>

            <div class="col-md-3">

                <figure class="d-flex flex-row justify-content-center align-items-center">
                    <a href="">
                        <img src="../../../assets/images/chest_7.png" alt="Bed">
                    </a>
                </figure>

            </div>

        </div> <!-- FIRST ROW -->

        <div class="row">

            <div class="col-md-3">

                <figure class="d-flex flex-row justify-content-center align-items-center">
                    <a href="">
                        <img src="../../../assets/images/mattress_7.png" alt="Bed">
                    </a>
                </figure>

            </div>

            <div class="col-md-3">

                <figure class="d-flex flex-row justify-content-center align-items-center">
                    <a href="">
                        <img src="../../../assets/images/headboard_7.png" alt="Bed">
                    </a>
                </figure>

            </div>

            <div class="col-md-3">

                <figure class="d-flex flex-row justify-content-center align-items-center">
                    <a href="">
                        <img src="../../../assets/images/nightstand_2.png" alt="Bed">
                    </a>
                </figure>

            </div>

            <div class="col-md-3">

                <figure class="d-flex flex-row justify-content-center align-items-center">
                    <a href="">
                        <img src="../../../assets/images/dressermirror_3.png" alt="Bed">
                    </a>
                </figure>

            </div>

        </div> <!-- SECOND ROW -->

    
    </div>

</div>

