<div class="">
    <div class="row">
        <div class="twelve columns">


            <div id="accordion" style="text-align: left;">


                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                aria-controls="collapseOne">
                               Material
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                                        <ul>
                                            <li>
                                                    <input type="checkbox" (change)="changeFilter('fabric')" class="form-check-input" id="Fabric">
                                                    <span>FABRIC</span>

                                            </li>
                                            <li>
                                                    <input  type="checkbox" (change)="changeFilter('GLASS')" class="form-check-input" id="glass">
                                                    <span>GLASS</span>
                                            </li>
                                            <li>
                                                    <input type="checkbox" class="form-check-input" id="marble">
                                                    <span>MARBLE</span>
                                            </li>
                                            <li>
                                                    <input type="checkbox" class="form-check-input" id="leather">
                                                    <span>LEATHER</span>
                                            </li>
                                            <li>
                                                    <input type="checkbox" class="form-check-input" id="metal">
                                                    <span>METAL</span>
                                            </li>
                                            <li>
                                                    <input type="checkbox" class="form-check-input" id="wood">
                                                    <span>WOOD</span>
                                            </li>

                                        </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                               Color
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">

                                        <ul>
                                            <li>
                                                <input type="checkbox" class="form-check-input" id="blue">
                                                <span>BLUE</span>

                                            </li>
                                            <li>
                                                <input type="checkbox" class="form-check-input" id="white">
                                                <span>WHITE</span>
                                            </li>
                                            <li>
                                                <input type="checkbox" class="form-check-input" id="brown">
                                                <span>BROWN</span>
                                            </li>
                                            <li>
                                                <input type="checkbox" class="form-check-input" id="pink">
                                                <span>PINK</span>
                                            </li>
                                            <li>
                                                <input type="checkbox" class="form-check-input" id="red">
                                                <span>RED</span>
                                            </li>
                                            <li>
                                                <input type="checkbox" class="form-check-input" id="yellow">
                                                <span>YELLOW</span>
                                            </li>

                                        </ul>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                               Style
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">

                                        <ul>
                                            <li>
                                                <input type="checkbox" class="form-check-input" id="contemporary">
                                                <span>CONTEMPORARY</span>

                                            </li>
                                            <li>
                                                <input type="checkbox" class="form-check-input" id="classic">
                                                <span>CLASSIC</span>
                                            </li>
                                            <li>
                                                <input type="checkbox" class="form-check-input" id="vintage">
                                                <span>VINTAGE</span>
                                            </li>
                                            <li>
                                                <input type="checkbox" class="form-check-input" id="rustic">
                                                <span>RUSTIC</span>
                                            </li>
                                            <li>
                                                <input type="checkbox" class="form-check-input" id="traditional">
                                                <span>TRADITIONAL</span>
                                            </li>
                                            <li>
                                                <input type="checkbox" class="form-check-input" id="urban">
                                                <span>URBAN</span>
                                            </li>

                                        </ul>

                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                                aria-expanded="false" aria-controls="collapseThree">
                                Price
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">

                                        <ul>
                                            <li>
                                                <input type="checkbox" class="form-check-input" id="vintage">
                                                <span>$199.00 & Below</span>
                                            </li>
                                            <li>
                                                <input type="checkbox" class="form-check-input" id="contemporary">
                                                <span>$200.00 - $399.00</span>

                                            </li>
                                            <li>
                                                <input type="checkbox" class="form-check-input" id="classic">
                                                <span>$400.00 - $599.00</span>
                                            </li>
                                            <li>
                                                <input type="checkbox" class="form-check-input" id="vintage">
                                                <span>$600.00 & Up</span>
                                            </li>
                                        </ul>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
