<div class="contentContainer">
        <div class="row bodyContent">
          <div class="twelve columns">
            <h2>Category Title Goes Here</h2>
            <p>Short description of categories may go here.</p>
          </div>
        </div>
        <div class="row bodyContent">
          <div class="three columns categoryPageBlock">
            <img src="images/product-image.jpg" alt="" class="responsiveImg ">
            <h3>Category Title 01</h3>
            <p>Short category description goes here</p>
            <a href="#" class="button button01" >Shop Now</a>
          </div>
          <div class="three columns categoryPageBlock">
            <img src="images/product-image.jpg" alt="" class="responsiveImg ">
            <h3>Category Title 02</h3>
            <p>Short category description goes here</p>
            <a href="#" class="button button01" >Shop Now</a>
          </div>
          <div class="three columns categoryPageBlock">
            <img src="images/product-image.jpg" alt="" class="responsiveImg ">
            <h3>Category Title 03</h3>
            <p>Short category description goes here</p>
            <a href="#" class="button button01" >Shop Now</a>
          </div>
          <div class="three columns categoryPageBlock">
            <img src="images/product-image.jpg" alt="" class="responsiveImg ">
            <h3>Category Title 04</h3>
            <p>Short category description goes here</p>
            <a href="#" class="button button01" >Shop Now</a>
          </div>
        </div>
        <div class="row bodyContent">
          <div class="three columns categoryPageBlock">
            <img src="images/product-image.jpg" alt="" class="responsiveImg ">
            <h3>Category Title 05</h3>
            <p>Short category description goes here</p>
            <a href="#" class="button button01" >Shop Now</a>
          </div>
          <div class="three columns categoryPageBlock">
            <img src="images/product-image.jpg" alt="" class="responsiveImg ">
            <h3>Category Title 06</h3>
            <p>Short category description goes here</p>
            <a href="#" class="button button01" >Shop Now</a>
          </div>
          <div class="three columns categoryPageBlock">
            <img src="images/product-image.jpg" alt="" class="responsiveImg ">
            <h3>Category Title 07</h3>
            <p>Short category description goes here</p>
            <a href="#" class="button button01" >Shop Now</a>
          </div>
          <div class="three columns categoryPageBlock">
            <img src="images/product-image.jpg" alt="" class="responsiveImg ">
            <h3>Category Title 08</h3>
            <p>Short category description goes here</p>
            <a href="#" class="button button01" >Shop Now</a>
          </div>

        </div>
        <div class="row bodyContent">
          <div class="twelve columns center">
            <hr />
            <h1>This area can be used for a subdivision of categories</h1>

            <h4>A short description of what this area is about.</h4>
          </div>
        </div>


      </div><!-- /Content Container -->

