<footer><!-- Esto es el footer -->
  <div class="footerContent"><!-- Toda la informacion visible del footer debe ir dentro de este div -->
    <div class="row">
      <div class="two columns">
        <h4>About Us</h4>
        <ul class="footerLinks">
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div>
      <div class="two columns">
        <h4>You Account</h4>
        <ul class="footerLinks">
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div>
      <div class="two columns">
        <h4>Connect with Us</h4>
        <ul class="footerLinks">
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div>
      <div class="five columns">
        <h4>Join our newsletter</h4>
        <p>Receive special offers and information about our products and services.</p>
        <div class="forms">
          <input type="text" name="" value="" placeholder="Type in your email address"><a href="#" class="button submit">Suscribe</a>

        </div>
      </div>
    </div>

    <div class="row footerCopy">
      <div class="seven columns">
        <img src="assets/images/credit-cards.jpg" alt="" class="">
        <p class="copy">
          © 2019 MY STORE & mystore.com All Rights Reserved. Powered by Web Design & Development.
        </p>
      </div>
      <div class="five columns right">
        <img src="assets/images/icons/facebook.jpg" alt="">
        <img src="assets/images/icons/twitter.jpg" alt="">
        <img src="assets/images/icons/instagram.jpg" alt="">
      </div>
    </div>

  </div>
</footer>
